<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button id="listPosition">List Positions</button>
    <button id="addCandidate">Add New Candidate</button>
    <button id="createQuestion">Create New Questions</button>
    <button id="addPillar">Add Pillar</button>
    <button id="Publish Questions">Publish Questions</button>
    <button id="Open Voting">Open Voting</button>
    
    <script src="/static/backend.js"></script>
</body>
</html>