<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>PolliTeko - Login</title>
    <link rel="stylesheet" href="/static/login.css">
</head>
<body>
    <section class="authlogin">
        <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" fill="none">
            <path d="M67.9307 12.0693C83.3564 27.495 83.3564 52.505 67.9307 67.9307C52.505 83.3564 27.495 83.3564 12.0693 67.9307C-3.35643 52.505 -3.35643 27.495 12.0693 12.0693C27.495 -3.35643 52.505 -3.35643 67.9307 12.0693Z" fill="white" stroke="#212121"/>
            </svg>
        <h1>LOG IN</h1>
    <form class="form" method="POST" action="/login">
        {% if error%}
      <p class="error">{{ error }}</p>
        {% endif %}
        <label for="userID">Voter's ID number</label> 
        <br>
        <input class="inputID" type="text" id="userID" name="userID" placeholder="Enter your VIN" autocomplete="off">
        <br>
        <label for="password">Password:</label> 
        <br>
        <div class="password-container">
            <input type="password" id="password" name="password" placeholder="Enter your Password" autocomplete="off">
            <input type="checkbox" id="showPassword" onclick="togglePassword()">
        </div>
        <button type="submit">Login</button>
    </form>
    
    <script>
        function togglePassword() {
            const passwordField = document.getElementById('password');
            const showPasswordCheckbox = document.getElementById('showPassword');
            if (showPasswordCheckbox.checked) {
                passwordField.type = 'text';
            } else {
                passwordField.type = 'password';
            }
        }
    </script>
    </section>
</body>
</html>
