<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page title</title>
    <link rel="stylesheet" href="/static/login.css">
</head>
<body>
    <section class="authlogin">
        <h1>LOG IN</h1>
        <form class="form" method="POST" action="/login">
            <label for="userID">Voter's ID number</label> 
            <br>
            <input class="input" type="text" id="userID" name="userID" placeholder="Enter your VIN" autocomplete="off">
        </form>
        <button type="submit">LOG IN</button>
        <!--
        {% if error%}
          <p class="error">{{ error }}</p>
        {% endif %}
        
        
        -->
    </section>
</body>
</html>