<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>PolliTeko</title>
</head>

<body>
    <!--Navbar Section-->
    <header>
        <nav class="navbar">
            <ul>
                <li><a id="home" class="logo" href="#home">POLITEKO</a></li>
                <li><a href="/PiliTugma">PiliTugma</a></li>
                <li><a>Candidates</a></li>
                <li><a>About</a></li>
            </ul>
        </nav>
    </header>

    <!--Tagline-->
    <section class="tagline">
            <h1>Tagline must be<br>
                placed here</h1>
            <a class="btn" href="/PiliTugma">Start Matching</a>
        </section>

    <!--Features-->  
    <section class="features">
        <h2 class="features-title">What we Offer</h2>
        <div class="feature-card-container">
            <article class="feature-card">
                <figure>
                    <img src="image1.jpg" alt="Feature 1">
                </figure>
                <h2>Feature One</h2>
                <p>Short description of Feature One.</p>
            </article>
            <article class="feature-card">
                <figure>
                    <img src="image2.jpg" alt="Feature 2">
                </figure>
                <h2>Feature Two</h2>
                <p>Short description of Feature Two.</p>
            </article>
            <article class="feature-card">
                <figure>
                    <img src="image3.jpg" alt="Feature 3">
                </figure>
                <h2>Feature Three</h2>
                <p>Short description of Feature Three.</p>
            </article>
        </div>
    </section>


    
</body>
</html>