<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Match Results</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/viewcandidates.css">
</head>
<body>
    <!--Navbar Section-->
    <header>
        <nav class="navbar">
            <ul>
                <li><a id="home" class="logo" href="/dashboard">
                    <img src="/static/politekologo1.png" alt="Logo" style="height: 2rem; margin-right: 1.5rem;">POLL-IT-TEKO</a></li>
                <li><a class="navlinks" href="/PiliTugma">PiliTugma</a></li>
                <li><a class="navlinks" href="/candidate">Candidates</a></li>
                <li><a class="navlinks" href="/voting">Voting</a></li>
                <li><a class="navlinks" href="/results">Results</a></li>
            </ul>
        </nav>
    </header>

    <!--Main Results-->
    <section class="matchResults">
        <div class="results-title"><h1>Matched Candidate</h1></div>
            <div class="matched-candidate-card">
                <div class="header">
                    <div class="candidate-image">
                    </div>

                    <div class="candidate-name">
                    </div>

                    <div class="candidate-bio">
                    </div>
                <div class="preference">
                    <div class="aligned-preference">
                    </div>

                    <div class="aligned-platforms">
                    </div>
                    
                    <div class="aligned-stances">
                    </div>
                </div>
                <div class="overall">
                    <h2>Overall: </h2>
                </div>
                <div class="view-profile-btn">
                    <a>View Profile</a>
                </div>
            </div>
    </section>

</body>
</html>