<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>PolliTeko</title>
</head>

<body>
    <!--Navbar Section-->
    <header>
        <nav class="navbar">
            <ul>
                <li><a id="home" class="logo" href="/dashboard">POLITEKO</a></li>
                <li><a>PiliTugma</a></li>
                <li><a>Candidates</a></li>
                <li><a>About</a></li>
            </ul>
        </nav>
    </header>
    
    <!--Tagline-->
    <section class="PiliTugma">
            <h1>Welcome to PiliTugma</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do<br>
                eiusmod tempor incididuntut labore et dolore 
            </p>
            <a class="btn" href="/quiz">Continue</a>
        </section>
</body>
</html>