<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>PolliTeko</title>
</head>

<body>
    <!--Navbar Section-->
    <header>
        <nav class="navbar">
            <ul>
                <li><a id="home" class="logo" href="/dashboard">
                    <img src="/static/politekologo1.png" alt="Logo" style="height: 2rem; margin-right: 1.5rem;">POLL-IT-TEKO</a></li>
                <li><a href="/PiliTugma">PiliTugma</a></li>
                <li><a href="/candidate">Candidates</a></li>
                <li><a>Voting</a></li>
                <li><a>Results</a></li>
            </ul>
        </nav>
    </header>
    
    <!--Tagline-->
    <section class="PiliTugma">
            <figure>
                <img src="/static/baybayin.png" style="width: 100%; max-width: 100rem; height: auto;">            </figure>
            <h1>Welcome to PiliTugma</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do<br>
                eiusmod tempor incididuntut labore et dolore 
            </p>
            <a class="btn" href="/quiz">Continue</a>
        </section>
</body>
</html>