<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>PolliTeko</title>
</head>

<body>
    <!--Navbar Section-->
    <header>
        <nav class="navbar">
            <ul>
                <li><a id="home" class="logo" href="#home">POLITEKO</a></li>
                <li><a href="/PiliTugma">PiliTugma</a></li>
                <li><a href="#">Candidates</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </nav>
    </header>

    <section class="questionsec">
        <div class="progress-container">
            <p class="percentage">25%</p>
            <div class="progress"></div>
        </div>
        <div class="quescard">
            <h2>Question {{ question.id }}</h2>
            <p>{{ question.text }}</p>
            <p class="p1">{{ question.description }}</p>
            <div class="question">
                    {% for option in question.options %}
                    <li><a href="#" data-value="{{ option }}">{{ option }}</a></li>
                    {% endfor %}
            </div>
        </div>

    </section>
</body>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const options = document.querySelectorAll('.question li a');

        options.forEach(option => {
            option.addEventListener('click', () => {
                // Remove 'selected' class from all options
                options.forEach(opt => opt.classList.remove('selected'));
                // Add 'selected' class to the clicked option
                option.classList.add('selected');
            });
        });
    });
</script>
</html>