<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>PolliTeko</title>
</head>

<body>
    <!--Navbar Section-->
    <header>
        <nav class="navbar">
            <ul>
                <li><a id="home" class="logo" href="#home">POLITEKO</a></li>
                <li><a href="/PiliTugma">PiliTugma</a></li>
                <li><a>Candidates</a></li>
                <li><a>About</a></li>
            </ul>
        </nav>
    </header>

    <section class="questionsec">
        <h2>Progress</h2>
        <p>0%</p>
        <div class="progress bar"></div>
    <div class="quescard">
        <h2>Question 1</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididuntut labore et dolore?
        </p>
        <p>Choose what applies best</p>
    <div class="question">
        <li><a>Lorem ipsum dolor sit amet, consectetur </a></li>
        <li><a>Lorem ipsum dolor sit amet, consectetur </a></li>
        <li><a>Lorem ipsum dolor sit amet, consectetur </a></li>
        <li><a>Lorem ipsum dolor sit amet, consectetur </a></li>
    </div>


    </div>
    
    </section>